@import "../../../App.scss";

.login {
  width: 100%;
  height: 100%;
  &__alert{
    text-align: center;
    margin: 1rem;
  }
  &__header {
    width: 100%;
    background-color: $GRAY6;
    border-bottom: $qborderBlack;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content{
      display: flex;
      &>*{
        flex-basis: 50%;;
      }
  }
}
